* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color:#3E7D3E; 
}

h1, h3 {
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight:200;
  color: #3E7D3E;
}

.container {
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 20px;
}

.main-content {
    flex: 80%;
}

.main-content .assistant-button i{
  text-align: center;
  background: #3E7D3E;
  display: inline-block;
  color: #fff; 
  padding: 1%;
  margin-top:10px;
  width:10%;
  transition: width 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.main-content .assistant-button i:hover{
  cursor:pointer;
  width:12%; 
}

.main-content form.form-container {
  width: 50%;
  margin: 50px auto;
}

.card-container .card-item .card-actions .login-btn {
  width: 60%;
  padding:10px 15px;
  margin-top: 10px;
  float:left;
}

.card-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
}

.card-item {
  width:250px;
  padding: 2%;
  background:#E6E6E6;
  margin:10px;
  height:350px;
  overflow: hidden;
  border:1px solid #3E7D3E;
  position: relative;
}

.card-actions {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-actions i {
  margin-right: 15px;
  font-size: 22px;
  color: #3E7D3E;
}

.card-actions i:hover {
  cursor: pointer;
}

.card-container .card-item .card-actions .login-btn {
  width: 60%;
  padding:10px 15px;
  margin-top: 10px;
  float:left;
}

.main-content form.form-container {
  width: 50%;
  margin: 50px auto;
}

.note-content {
  font-size: 15px;
  padding: 20px;
}

.notebook-name {
  margin-left: 20px;
}

.card-item .input-container .login-btn {
  margin: 0;
  position: relative;
  /* margin-top: 190px; */
  padding: 2px;
  border: 1px solid darkgreen;
}

.favourite {
  color: #D21404 !important; 
}

.search-bar {
  border: 1px solid #3E7D3E;
  width: 20%;
  padding: 10px;
  margin-left: 73%;
}

.search-button {
  border: 1px solid #3E7D3E;
  padding: 10px;
  background-color: #3E7D3E;
  color: #fff;
  margin-left: 5px;
}


/* Media queries */
@media only screen and (max-width: 768px) {
  .app {
    padding: 1%;
  }
  header {
    flex-direction: column;
  }

  header .logo, header .description {
    flex: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container{
    flex-direction: column;
    text-align: center;
  }

  .main-content .navbar {
    flex: 100%; 
    text-align: center;
    border-right: none;
  }

  .main-content .assistant-button i{
    width: 98%;
    padding:3%;
    margin-top:30px;
  }

  .main-content p.not-found {
    width: 98%;
    padding:3%;
    margin-top:10px;
  }

}
