.main-content form.form-container {
    width: 50%;
    margin: 50px auto;
  }

  .notes-container {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .notes-container .notes-item {
    width:250px;
    padding: 2%;
    background:#E6E6E6;
    margin:10px;
    height:350px;
    overflow: hidden;
    border:1px solid #3E7D3E;
    position: relative;
  }
  
  .notes-container .notes-item .note-actions {
    width:90%;
  }
  
  .notes-container .notes-item .note-actions .login-btn {
    width: 60%;
    padding:10px 15px;
    margin-top: 10px;
    float:left;
  }
  
  .notes-container .notes-item .note-actions .note-actions-items {
    width:40%;
    font-size: 22px;
    color: #3E7D3E;
    float:right;
    margin-top:20px;
    text-align: right;
  }
  
  .notes-container .notes-item .note-actions .note-actions-items i:first-child{
    margin-right: 5px;
  }
