.welcome {
    text-align: center;
  }
  
  .welcome .welcome-title { 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .welcome .welcome-title h1 { 
    font-weight: 400;
  }
  
  .welcome .welcome-title h3 { 
    margin-top: 50px;
    font-weight: 200;
  }
  
  .welcome .welcome-register-login { 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .registration { 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .registration .register {
    display: inline-block;
    padding: 10px 30px;
    background: #3E7D3E;
    color: #fff;
    text-decoration: none !important;
    margin-bottom: 10px;
  }
  
  .registration .login { 
    display: inline-block;
    padding: 10px 37px;
    border:1px solid #3E7D3E;
    color: #3E7D3E;
    text-decoration: none !important;
  }